	.structContainerIimage{
	
	border: 2px solid #FFFFFF;
	border-radius: 67px 67px 67px 67px;
	box-shadow: 1px 1px 1px #666666;
	float: left;
	height: 131px;
	margin-top: 1px;
	overflow: hidden;
	}
	
	
	
	